* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #fff;
    color: #333;
}


/* Barra superior */
.barraSuperior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4a3728;
    padding: 10px 20px;
}

.barraSuperior a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

.barraSuperior img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
    justify-content: space-between;
}

.iconoMenu i {
    font-size: 20px;
    cursor: pointer;
    user-select: none; 
    color: #fff;
}


.opcionesSuperior {
    display: flex;
    gap: 20px;
    align-items: center;
}

.opcionesSuperior img {
    margin-left: 20px;
    flex: 5vh;
}

.opcionesSuperior a {
    color: #fff;
}

.cuenta span {
    font-weight: bold;
}

/* Menu lateral oculto */

.menuLateral {  
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #614d30;
    color: #333;
    padding-top: 60px;
    transition: left 0.3s ease;
    z-index: 1000;
    box-shadow: 3px 0 6px rgba(o, 0, 0, 0.2);
    font-weight: bold;
}

.menuLateral ul {
    list-style: none;
    padding: 0;
}

.menuLateral ul li {
    margin: 20px 0;
    padding-left: 20px;
}

.menuLateral ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    transition: color 0.2s;
}

.menuLateral ul li a:hover {
    color: #4A2511;
}

.menuLateral.activo {
    left: 0;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 00.3);
    z-index: 900;
}

.overlay.activo {
    display: block;
}

#cerrar-menu{
    position: absolute;
    top: 10px;
    right: 10px;
    background: #5e2c04;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: background o.3s ease;
}

#cerrar-menu:hover {
    background: #65350f;
}

.logoMenu {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logoMenu img {
    height: 40px;
    width: auto;
    border-radius: 6px;
}

/* Parte principal */
.principal {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("imagenes\ pantalla\ principal/fondo.png") no-repeat center/cover; 
    padding: 60px 20px;
    margin: 0;
    width: 100%;
}

.texto-principal {
    text-align: center;
    color: black;
    background: rgba(255,255,255,0.7); 
    padding: 20px;
    border-radius: 10px;
}

.principalIzquierda {
    flex: 1;
}

.imagenPrincipal {
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
}

.principalDerecha {
    flex: 7;
    text-align: center;
}

.principalDerecha h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.principalDerecha p {
    font-size: italic;
    margin-bottom: 20px;
}

.cajaBusqueda {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.cajaBusqueda input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); 
}

.cajaBusqueda button {
      padding: 10px 20px;
    background-color: #4a3728;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
}


.buscar button:hover {
    background-color: #5e4729;
}

/* Categorias */
.categorias {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    background: #fff;
    padding: 10px 0;
    justify-items: center;
}

.categoria {
    text-align: center;
}

.categoria img {
    width: 80px;
    height: 80px;
    background: #6e6969;
    object-fit: cover;
    border-radius: 50%;

}

.categoria p {
    font-weight: bold;
    margin-bottom: 5px;
}

.categoria button {
    background: #4a3728;    
    border: none;
    padding: 6px 12px;
    border-radius: 15px;
    cursor: pointer;
    color: #fff;
}

.circulo {
  width: 100px;
  height: 100px;
  background: #655b5b;      
  border-radius: 50%;        
  display: flex;             
  justify-content: center;
  align-items: center;
  overflow: hidden;        
  object-fit: contain;
  object-position: center;
}

.circulo img {
  width: 90%;               
  height: 90%;
  object-fit: cover;
  background: beige;       
}

/* Restaurantes */
.restaurantes {
    text-align: center;
    margin: 30px 0;
}

.restaurantes h2 {
    margin-bottom: 20px;
}

.rejillaRestaurantes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}


.rejillaRestaurantes button {
    background: #4a3728;
    border: none;
    padding: 6px 12px;
    border-radius: 15px;
    cursor: pointer;
    color: #fff;
}

.circuloRestaurante {
  width: 80px;
  height: 80px;
  background: #655b5b;      
  border-radius: 50%;        
  display: flex;             
  justify-content: center;
  align-items: center;
  overflow: hidden;        
  object-fit: contain;
  object-position: center;
}

.restaurante img {
    width: 70px;
    height: 70px;
    background: #fff;
    object-fit: cover;
    border-radius: 50%;
}

.unete {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* o space-between, según quieras */
    gap: 20px;
    text-align: center;
    padding: 50px 20px;
    background: #fff6ec;    
}

.unete h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

 .marca {
    color: #432616;
    font-weight: bold;
    margin-top: 5%;
}


.tarjeta {
    display: absolute;
    justify-content: space-between;
    background: #4a3728;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.8);
    width: 300px;
    padding: 20px;
    text-align: center;
    flex-shrink: 0;
}

.tarjeta img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.tarjeta h3 {
    margin: 15px 0 10px;
    color: #fff;
}

.tarjeta p {
    font-size: 14px;
    margin-bottom: 15px;
    color: #fff;
}

.tarjeta button {
    background: #432616;
    border: none;
    padding: 15px 15px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.tarheta button:hover {
    background: #a8703e;
}

/* Contacto */
.contacto{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 600px;
    margin-right: 600px;
    color: #333;
    background: whitesmoke;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.contacto h2 {
    font: 28px;
    margin-bottom: 30px;
    color: #333;
}

.contacto button {
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    background-color: #a18262;
    justify-content: center;
    text-align: center;
    width: 80px;
    height: 40px;
    margin-bottom: 20px;
    cursor: pointer;

}

.contacto button:hover {
    background: #a8703e;
}

form{
    font-family: Arial, sans-serif;
}